<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354972835641-0hf26o2es8ci1qseqnob7rapmtbqdpcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354972835641-0hf26o2es8ci1qseqnob7rapmtbqdpcf</string>
	<key>API_KEY</key>
	<string>AIzaSyCvZa0OFZu3e3fduHUvD50DR-g_BjroyKU</string>
	<key>GCM_SENDER_ID</key>
	<string>354972835641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DonateNowMNAJ</string>
	<key>PROJECT_ID</key>
	<string>donatenow-e0e61</string>
	<key>STORAGE_BUCKET</key>
	<string>donatenow-e0e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:354972835641:ios:38bebe7a39da0ef1cb52e8</string>
	<key>DATABASE_URL</key>
	<string>https://donatenow-e0e61.firebaseio.com</string>
</dict>
</plist>
